.games {
	padding: 4rem 0;
	position: relative;
	height: 100vh;
	padding-top: 4rem;
	display: flex;
	align-items: center;
	// @include respond (tab-land) {
	// 	height: auto;
	// }
	@include respond (tab-port) {
		height: 100vh;
	}
	&__text {
		flex-basis: 50%;
		align-self: center;
		p {
			padding: 3.5rem 0;
			@include respond (tab-land) {
				padding-right: 0;
			}
			@include respond (tab-port) {
				padding: 2rem 0;
			}
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include respond (phone) {
			gap: 4rem;
			flex-direction: column;
			justify-content: center;
		}
	}
	&__image {
		display: flex;
		justify-content: center;
		flex-basis: 50%;
		@include respond (phone) {
			display: flex;
			justify-content: center;
		}
		img {
			height: 40rem;
			@include respond (tab-port) {
				height: 30rem;
			}
			@include respond (mini-tab) {
				height: 25rem;
			}
		}
	}
	::selection {
		background-color: $black;
		color: $white;
	}
}