/*
0px - 600px:	Phone
600px - 900px:	Tablet portrait
900px - 1200px:	Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  list-style: none; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  //color: ;
  //background-color: $white;
  @include respond(big-desktop) {
    font-size: 1.8rem;
  }
  @include respond(tab-land) {
    font-size: 1.5rem;
  }
  @include respond(tab-port) {
    font-size: 1.4rem;
  }
  @include respond(phone) {
    font-size: 1.2rem;
  }
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  @media only screen and (max-width: 56.25em) {
    body {
      //padding: 0;
  }
}

a,
a:hover {
  color: $white;
  transition: .3s all;
  text-decoration: none;
}
p {
  text-transform: capitalize;
  font-weight: 300 !important;
}

strong {
    font-weight: 700;
    font-family: serif;
    font-size: 7rem;
    color: #E8BE18;
    line-height: 5.5rem;
    padding-left: 1rem;
    @include respond (phone) {
      line-height: 3rem;
    }
}
.text-bold {
  font-weight: 700;
  display: flex;
}
.bg-text {
  color: $white !important;
  padding-bottom: 7rem;
  @include respond (tab-port) {
    padding-bottom: 10rem;
  }
  h2 {
    text-transform: capitalize;
    display: inline-block;
    background-color: $black;
    margin-bottom: 2rem;
    padding: .2rem 1.5rem;
  }
  h4 {
    text-transform: capitalize;
    display: inline-block;
    background-color: $black;
    padding: .2rem 1rem;
  }
}
.big-text {
  font-size: 7rem;
  @include respond (tab-port) {
    font-size: 5rem;
  }
  @include respond (phone) {
    font-size: 4rem;
  }
}
.mid-text {
  text-transform: capitalize;
  font-size: 2.8rem;
  font-weight: 400;
  @include respond (tab-port) {
    font-size: 2.4rem;
  }
  @include respond (phone) {
    font-size: 2rem;
  }
  //padding-top: 1rem;
}
// .end-flex {
//     display: flex;
//     align-items: end !important;
// }

::selection {
  background-color: $white;
  color: $black; }