.center-text {
	text-align: center !important;
}
.pb-big {
	padding-bottom: 10rem !important;
	@include respond (tab-port) {
			padding-bottom: 5rem !important;
		}
}
.pb-sm {
	padding-bottom: 1.5rem !important;
}
.pt-big {
	padding-top: 10rem !important;
	@include respond (tab-port) {
			padding-top: 5rem !important;
		}
}
.pt-md {
	padding-top: 5rem !important;
	@include respond (tab-port) {
			padding-top: 3rem !important;
		}
}
.pt-sm {
	padding-top: 1.5rem !important;
}
.line-big {
	line-height: 1.7 !important;
}